@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Thank you Page</title>
</head>
<body>
<div >
    Thanks for your RSVP @Model.Name!  
</div>
</body>
</html>